{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
<!--{% load socialaccount %}-->
{% load account %}


{% block title %} {% trans "انشاء متجر" %} {% endblock %}
<style>
    #topnav
    {
        background-color: #5368f1;
    }
    .logo
    {
        color: #FFF !important;
    }

    .menu-item .fa-bars
    {
        color: #FFF;
    }
    .nav-sticky .menu-item .fa-bars
    {
        color: #5368f1 !important;
    }
    #topnav .navigation-menu.nav-light > li > a
    {
        color: #fff;
        font-size: 16px;
    }
    #topnav .navigation-menu.nav-light > li:hover > a {
       color: #fff !important;
    }
</style>
{% block header %}
{% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="{{ message.tags }} custom-message" data-value="{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="col-lg-7 col-md-9 col-12" style="margin: 100px auto 40px auto;">

    <div class="card login-page border-0 shadow mt-4" style="z-index: 1">
        <div class="card-body p-4">
            <h4 class="card-title text-center">{% trans "معلومات عن المتجر" %}</h4>

            <form class="login-form mt-4" method="POST" action="{% url 'create_shop' %}">
                {% csrf_token %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p style="color: #F00;">* {{ error }} </p>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label> {% trans 'النطاق  ( Domain)' %} <span class="text-danger">*</span></label>
<!--                            <label style="display: block;"> https://<span style="color: #00F;"> domain </span>.matgrk.shop</label>-->
                            <input type="text" class="form-control" placeholder="{% trans 'النطاق  ( Domain)' %}" name="domain" value="{{ old_values.domain }}">
                        </div>
                    </div>
                    <div class="col-md-6" style="display:none;">
                        <div class="form-group position-relative">
                            <label>الاسم الاول <span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.given_name }}-->
                            <input type="text" class="form-control" placeholder="{% trans 'الاسم الاول' %}" name="firstname" value="{{ userModel.first_name }}"></div>
                    </div>


                    <div class="col-md-6" style="display:none;">
                        <div class="form-group position-relative">
                            <label>{% trans "اسم العائلة" %}<span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.family_name }}-->
                            <input type="text" class="form-control" placeholder="{% trans 'اسم العائلة' %}" name="lastname" value="{{ userModel.last_name }}">
                        </div>
                    </div>


                    <div class="col-md-12" style="display:none;">
                        <div class="form-group position-relative">
                            <label>النشاط <span class="text-danger">*</span></label>
                            <select class="form-control" name="activity">
                                <option value = "" selected>{% trans "- يرجى تحديد نشاطك -" %} </option>
                                <option value = "2">{% trans "الحيوانات والحيوانات الأليفة" %}</option>
                                <option value = "3">{% trans "فن وثقافة" %}</option>
                                <option value = "4">  {% trans "الأطفال" %}</option>
                                <option value = "5">  {% trans "الجمال والعناية الشخصية" %}</option>
                                <option value = "6">  {% trans "تلقائي" %}</option>
                                <option value = "7">  {% trans "أجهزة الكمبيوتر وقطع الغيار والبرامج" %}</option>
                                <option value = "8">  {% trans "تنزيل" %}</option>
                                <option value = "9">  {% trans "الأزياء والإكسسوارات" %}</option>
                                <option value = "10"> {% trans "الزهور والهدايا والحرف" %} </option>
                                <option value = "11">   {% trans "أطعمة ومشروبات" %} </option>
                                <option value = "12"> {% trans "Hi-Fi ، صور وفيديو" %}  </option>
                                <option value = "13">   {% trans "المنزل والحديقة" %} </option>
                                <option value = "14">   {% trans "الأجهزة المنزلية" %} </option>
                                <option value = "15">   {% trans "مجوهرات" %} </option>
                                <option value = "1">   {% trans "الملابس الداخلية والكبار" %} </option>
                                <option value = "16">{% trans "الجوال والاتصالات" %}  </option>
                                <option value = "17">{% trans "الخدمات" %}  </option>
                                <option value = "18">{% trans "أحذية واكسسوارات" %}  </option>
                                <option value = "19">{% trans "رياضة وترفيه" %}  </option>
                                <option value = "20">{% trans "السفر" %}  </option>
                                <option value = "0" selected> {% trans "أخرى" %} </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12" style="display:none;">
                        <div class="form-group position-relative">
                            <label>البريد الالكتروني <span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.email }}-->
                            <input type="email" class="form-control" placeholder="البريد الالكتروني" name="email" value="{{ userModel.email }}">
                        </div>
                    </div>

                     <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>رقم الهاتف <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="رقم الهاتف" name="phone" value="{{ old_values.phone }}">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>باسورد لوحة التحكم <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="الباسورد" name="password" value="">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>المنطقة الزمنية <span class="text-danger">*</span></label>
                            <select class="form-control" name="timezone">
                                {% for tz in timezones %}
                                    <option value="{{tz}}">{{tz}}</option>
                                {% endfor %}
<!--                              <option selected="selected" value="{{user_country.alpha_2}}">{{user_country.alpha_2}}</option>-->
                                 <option selected="selected" value="Africa/Cairo">Africa/Cairo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>البلد <span class="text-danger">*</span></label>
                            <select class="form-control" name="country">
                                {% for country in countries2 %}
                                    <option value="{{country.alpha_2}}">{{country.name}}</option>
                                {% endfor %}
                              <option selected="selected" value="{{user_country.alpha_2}}">{{user_country.name}}</option>
                            </select>
                        </div>
                    </div>
<!--                    {{ social_info }}-->
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-block">تأكيد</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}