{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
<!--{% load socialaccount %}-->
{% load account %}


{% block title %} Create Shop {% endblock %}
{% block header %}
<style>
    #topnav
    {
        background-color: #5368f1;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-lg-7 col-md-9 col-12" style="margin: 45px auto 40px auto;">
    <div class="text-center">
        <a href="javascript:void(0)">
            <img src="{% static 'layout/images/images-logo-dark.png' %}" height="20" alt=""></a>
    </div>
    <div class="card login-page border-0 shadow mt-4" style="z-index: 1">
        <div class="card-body p-4">
            <h4 class="card-title text-center">Shop Information</h4>
            <form class="login-form mt-4" method="POST" action="{% url 'create_shop' %}">
                {% csrf_token %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p style="color: #F00;">* {{ error }} </p>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>Your Domain <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Domain" name="domain" value="shop1"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>First name <span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.given_name }}-->
                            <input type="text" class="form-control" placeholder="First Name" name="firstname" value="Abdelrhman"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>Last name <span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.family_name }}-->
                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="Tarek">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>Time Zone <span class="text-danger">*</span></label>
                            <select class="form-control" name="timezone">
                                {% for tz in timezones %}
                                    <option value="{{tz}}">{{tz}}</option>
                                {% endfor %}
<!--                              <option selected="selected" value="{{user_country.alpha_2}}">{{user_country.alpha_2}}</option>-->
                                 <option selected="selected" value="Africa/Cairo">Africa/Cairo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <label>Country <span class="text-danger">*</span></label>
                            <select class="form-control" name="country">
                                {% for country in countries2 %}
                                    <option value="{{country.alpha_2}}">{{country.name}}</option>
                                {% endfor %}
                              <option selected="selected" value="{{user_country.alpha_2}}">{{user_country.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>Activity <span class="text-danger">*</span></label>
                            <select class="form-control" name="activity">
                                <option value="" selected="selected">-- Please select your activity --</option>
                                <option value = "2" selected> Animals and Pets </option>
                                <option value = "3"> Art and Culture </option>
                                <option value = "4"> Children </option>
                                <option value = "5"> Beauty and Personal Care </option>
                                <option value = "6"> Auto </option>
                                <option value = "7"> Computers, Parts & Software </option>
                                <option value = "8"> Download </option>
                                <option value = "9"> Fashion and Accessories </option>
                                <option value = "10"> Flowers, Gifts and Crafts </option>
                                <option value = "11"> Food and Beverages </option>
                                <option value = "12"> Hi-Fi, Photo and Video </option>
                                <option value = "13"> Home and Garden </option>
                                <option value = "14"> Home appliances </option>
                                <option value = "15"> Jewelry </option>
                                <option value = "1"> Lingerie and Adult </option>
                                <option value = "16"> Mobile & Communication </option>
                                <option value = "17"> Services </option>
                                <option value = "18"> Shoes and accessories </option>
                                <option value = "19"> Sport and Entertainment </option>
                                <option value = "20"> Travel </option>
                                <option value = "0"> Other </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>Your Email <span class="text-danger">*</span></label>
<!--                            {{ user.socialaccount_set.all.0.extra_data.email }}-->
                            <input type="email" class="form-control" placeholder="Email" name="email" value="abdelrhman@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group position-relative">
                            <label>Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Password"  name="password" value="">
                        </div>
                    </div>

<!--                    {{ social_info }}-->

                    <div class="col-md-12">
                        <button class="btn btn-primary btn-block">Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}