{% load i18n %}
<div id="navigation">
    <ul class="navigation-menu nav-light">
        <li>
            <a href="#home" class="mouse-down">الرئيسية</a>
        </li>

        <li>
            <a href="#about" class="mouse-down">من نحن</a>
        </li>

        <li>
            <a href="#offers" class="mouse-down">العروض</a>
        </li>

        <li>
            <a href="#our-features" class="mouse-down">المميزات</a>
        </li>

        <li>
            <a href="#prices" class="mouse-down">الاسعار</a>
        </li>

        <!-- Mobile menu toggle-->
        {% if user.is_authenticated %}
            {% if shop_count > 0 %}
                    <li class="mobile-link">
                        <a class="" href="{% url 'profile' %}">
                                {% trans "ادارة متجرك" %}
                        </a>
                    </li>
                {% else %}
                    <li class="mobile-link">
                        <a class="" href="{% url 'create_shop' %}">
                               {% trans "انشئ متجرك الالكتروني" %}
                        </a>
                    </li>
            {% endif %}
            <li  class="mobile-link">
               <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="text-dark h6 mr-3 login logout-btn-mobile btn btn-danger">{% trans "تسجيل خروج" %}</button>
                </form>
            </li>
            {% else %}
            <li class="mobile-link">
                 <a class="navbar-toggle" href="#" data-toggle="modal" data-target="#LoginForm">
                    {% trans "تسجيل دخول" %}
                 </a>
            </li>
        {% endif %}
        <!-- End mobile menu toggle-->
    </ul>
    <!--end container-->
</div>