{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}
<!--{% load home_tags %}-->

{% block title %} {% trans "متجرك" %} {% endblock %}

{% block navigation %} {% include 'home/home_navigation.html' %} {% endblock %}

{% block content %}

<section id="home" class="d-table w-100" style="padding: 120px 0;background: url('{% static 'layout/images/grid.png' %}') no-repeat;" >
    {% if messages %}
        {% for message in messages %}
          <div class="{{ message.tags }} custom-message" data-value="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
<!--    <div class="bg-overlay"></div>-->
    <div class="container">
        <div class="row hero-container">
        <div class="row mt-5 col-md-12 col-lg-8 hero-section">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h1 class="heading  mb-3 main-color" style="text-align:right">{% trans "انشاء متجرك الالكتروني إلاحترافي في دقائق , و ابدأ في بيع متنجاتك أونلاين" %}  </h1>
                    <p class="para-desc mx-auto mb-0" style="color: #383555;font-size:26px;text-align: right;">نوفر لك كل ما تحتاجه لتبيع منتجاتك أونلاين.</p>
                    <ul class="list-unstyled mt-3 row head-features-list">
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "عدد غير محدود من المنتجات" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "عدد لا محدود من التصنيفات" %}
                        </li>
                        <li class="my-2 col-md-4">
                             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "دردشة حيه مباشرة مع عملائك" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "طرق دفع عديدة" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "قائمة مراقبة المنتجات" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "احصائيات وتقارير كاملة" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "نسخ احتياطية يومية" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "ادارة الخصومات والكوبونات" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "فلاتر منتجات متطورة" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "تعديل القالب و الشعارات" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "إسم نطاق مجاني" %}
                        </li>
                        <li class="my-2 col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle fea icon-ex-md text-primary mr-2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>{% trans "تكامل مع أدوات التسويق" %}
                        </li>
                    </ul>
                    <div class="mt-4">
                      {% if user.is_authenticated %}
<!--                        <a href="{% url 'create_shop' %}" class="btn btn-success col-md-6" style="font-size:18px">{% trans "انشاء متجرك الالكتروني" %}</a>-->
                        {% if shop_count > 0 %}
                            <a href="{% url 'profile' %}" target="_blank" class="btn btn-danger col-md-6" style="font-size:18px"> {% trans "ادارة متجرك" %} </a>
                        {% else %}
                            <a href="{% url 'create_shop' %}" class="btn btn-primary col-md-6" style="font-size:18px">{% trans "انشئ متجرك الان" %}</a>
                        {% endif %}

                        {% else %}
                            <a href="#" class="btn btn-primary col-md-6" data-toggle="modal" data-target="#LoginForm"
                               style="font-size:18px;padding-top: 15px;padding-bottom: 15px;">{% trans "انشئ متجرك الان" %}</a>
                      {% endif %}
                    </div>
                </div>
            </div>
            <!--end col-->
            <p class="text-muted text-center mt-3 font-weight-bold col-md-12"> {% trans "جرّب متجرك مجانًا لمدّة ٩۰ يوم" %} </p>
        </div>
        <!--end row-->

        <div class="row mt-5 justify-content-center col-md-4">
            <div class="col-12">
                <img class="hero-img" src="{% static 'layout/images/606.jpg' %}" alt="{% trans 'انشاء متجرك الالكتروني إلاحترافي في دقائق!' %}" title="{% trans 'انشاء متجرك الالكتروني إلاحترافي في دقائق!' %}">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        </div>
    </div>
    <!--end container-->

</section>
<!--end section-->



<!-- Home End -->
<!-- Services Start -->
<section id="about" class="section" style="background: #f4f4f4 !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">

                    <h4 class="title mb-3 main-color">{% trans "ابدأ بيع منتجاتك عبر الإنترنت بسهولة" %}</h4>
                    <p class="para-desc mx-auto mb-0">
                       {% trans "متجرك هو موقع الكتروني يقدم لك خدمة انشاء متجر الكتروني مثل" %}
                        <br> ( Jumia و Amazon و Souq ) <br>{% trans "خاص بك يمكنك من عرض و بيع منتجاتك عبر الانترنت" %}
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card services p-4 rounded-pill border-0">
                   <img src="{% static 'layout/images/605.jpg' %}" alt="{% trans 'انشاء متجر سهل و سريع' %}" title="{% trans 'انشاء متجر سهل و سريع' %}" width="200" >
                    <div class="card-body p-0 content">
                        <h5 class="mb-3 title text-dark">{% trans "انشاء متجر سهل و سريع " %}</h5>
                        <p class="text-muted mb-3">
يمكنك إنشاء ونشر متجرك الإلكتروني على الإنترنت بسرعة. لا تحتاج إلى معرفة كيفية البرمجة. وسيعمل موقعك بشكل جيد على أي جهاز.                        </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card services p-4 rounded-pill border-0">
                    <img src="{% static 'layout/images/602.jpg' %}" alt="{% trans 'ابدأ أول ثلاثة اشهر مجانًا' %}" title="{% trans 'ابدأ أول ثلاثة اشهر مجانًا' %}" width="200" >
                    <div class="card-body p-0 content">
                        <h5 class="mb-3 title text-dark">{% trans "ابدأ أول ثلاثة اشهر مجانًا" %}</h5>
                        <p class="text-muted mb-3">
                            {% trans "متجرك الالكترونى يحتوي على كل ما تحتاجه. كن في العمل الآن مجانا." %}
                     </p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card services p-4 rounded-pill border-0">
                    <img src="{% static 'layout/images/604.jpg' %}" alt="ابدأ البيع عبر الإنترنت" title="{% trans 'ابدأ البيع عبر الإنترنت' %}" width="220" >
                    <div class="card-body p-0 content">
                        <h5 class="mb-3 title text-dark">{% trans 'ابدأ البيع عبر الإنترنت' %}</h5>
                        <p class="text-muted mb-3">{% trans "يمكنك بيع منتجاتك عبر الإنترنت وشحنها بسهولة إلى العملاء ، وتقديم خدمة التوصيل و الشحن لأي مكان في العالم ، أو التوصيل المحلي - بغض النظر عن نوع النشاط التجاري لديك." %}</p>
                    </div>
                </div>
            </div>
            <!--end col-->

        </div><!--end row-->
    </div><!--end container-->

    <section id="offers" class="container-fluid mt-100 mt-60">
        <div class="rounded-pill bg-primary py-5 px-4" style="padding-bottom: 0 !imortant;">
            <div class="row py-md-5 py-4">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="section-title">
<!--                                <h6 class="text-white mb-3">Powered by SSD</h6>-->
                                <h2 class="text-white mb-0 text-center">{% trans "خصم 20% على جميع الباقات" %}</h2>
                            </div>
                        </div><!--end col-->
                        <!--end col-->
                        <ul id="example" class="col-lg-12 col-md-12 col-12">
                                  <li><span class="days">00</span><p class="days_text">{% trans "ايام" %}</p></li>
                                  <li class="seperator">:</li>
                                  <li><span class="hours">00</span><p class="hours_text">{% trans "ساعة" %}</p></li>
                                  <li class="seperator">:</li>
                                  <li><span class="minutes">00</span><p class="minutes_text">{% trans "دقيقة" %}</p></li>
                                  <li class="seperator">:</li>
                                  <li><span class="seconds">00</span><p class="seconds_text">{% trans "ثانية" %}</p></li>
                        </ul>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end row-->
        </div><!--end div-->
    </section><!--end container-->

    <section id="our-features" class="container mt-100 mt-60">
        <h2 class="text-center features-head main-color mb-0">{% trans "خدمات متجرك" %}</h2>
        <p class="text-muted para-desc mx-auto  text-center">{% trans "كل ما تحتاج للبدء في عالم التجارة الالكترونية" %}</p>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="mr-lg-5">
                    <img src="{% static 'layout/images/features.jpg' %}" class="img-fluid" alt="انشاء المتجر سهل و سريع" title="انشاء المتجر سهل و سريع"></div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ml-lg-5">
                    <div class="media services serv-primary rounded align-items-center p-4 bg-light position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-compact-disc"></i>
                        </span>
                        <div class="media-body content ml-3">
                            <h5>{% trans "انشاء المتجر سهل و سريع" %}</h5>
                            <p class="para text-muted mb-0">{% trans ".يمكنك إنشاء ونشر متجرك على الإنترنت بسرعة و سهولة بحيث لا تحتاج إلى معرفة كيفية البرمجة" %}</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-swatchbook"></i>
                        </div>
                    </div>

                    <div class="media services serv-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-tachometer-fast-alt"></i>
                        </span>
                        <div class="media-body content ml-3">
                            <h5>{% trans "لوحة تحكم سهلة و قوية" %}</h5>
                            <p class="para text-muted mb-0">{% trans ".لوحة التحكم سهلة وقوية تتيح لك ادارة المتجر الخاص بك بسرعة وسهولة" %}</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-tachometer-fast-alt"></i>
                        </div>
                    </div>

                    <div class="media services serv-primary rounded align-items-center p-4 bg-light mt-4 position-relative overflow-hidden">
                        <span class="h1 icon2 text-primary">
                            <i class="uil uil-invoice"></i>
                        </span>
                        <div class="media-body content ml-3">
                            <h5>{% trans "تعديل القالب" %}</h5>
                            <p class="para text-muted mb-0">{% trans "تعديل الصور و المحتوى بسهولة ليناسب المتجر الخاص بك" %}</p>
                        </div>
                        <div class="big-icon">
                            <i class="uil uil-user-check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div><!--end row-->
    </section><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
                <div class="ml-lg-5">
                    <img src="{% static 'layout/images/features2.jpg' %}" class="img-fluid" alt="{% trans 'متجر متعدد اللغات والعملات' %}" title="{% trans 'متجر متعدد اللغات والعملات' %}"></div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0 order-2 order-md-1">
                <div class="section-title mr-lg-5">
                    <h4 class="title mb-3">{% trans "متجر متعدد اللغات والعملات" %}</h4>
<!--                    <p class="text-muted para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible products with the definitive platform for digital design.</p>-->

                    <ul class="list-unstyled text-muted mt-3"><li class="my-2">
                        <i data-feather="check-circle" class="fea icon-ex-md text-primary mr-2"></i>{% trans "متجرك سوف يكون بلغة عملائك المفضلة، يمكنك إضافة أي لغة تحتاجها للتوسع في مبيعاتك." %}</li>
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary mr-2"></i>{% trans "اضافة العديد من العملات او وحدات خاصة لمتجرك." %}</li>
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary mr-2"></i>{% trans "اعدادات المنطقة الجغرافية لمتجرك (قارات و دول و مناطق)." %}</li>
                    </ul>
<!--                        <a href="javascript:void(0)" class="mt-4 text-primary">Find Out More <i class="mdi mdi-chevron-right"></i>-->
                    </a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="mr-lg-5">
                    <img src="{% static 'layout/images/609.jpg' %}" class="img-fluid" alt="{% trans 'تجربة شراء مذهلة لمستخدمي الهواتف الذكية' %}"
                    title="{% trans 'تجربة شراء مذهلة لمستخدمي الهواتف الذكية' %}"></div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0 order-2 order-md-1">
                <div class="section-title mr-lg-5">
                    <h4 class="title mb-3">{% trans "تجربة شراء مذهلة لمستخدمي الهواتف الذكية" %}</h4>
                    <p class="text-muted para-desc mx-auto mb-0">
                        {% trans "إن أكثر من 50% من المشترين عبر الإنترنت يستخدمون الهواتف الذكية لإستعراض المواقع و الشراء. سوف تقوم بتقديم تجربة شراء فريدة لهم بداية من القوالب المتجاوبة بالكامل التي تعمل على كل الأجهزة إلى تطبيقات هواتف مخصصة لمتجرك." %}
                    </p>

                    <ul class="list-unstyled text-muted mt-3"><li class="my-2">
                        <i data-feather="check-circle" class="fea icon-ex-md text-primary mr-2"></i>{% trans "المتجر متجاوب بالكامل و شكل جميل و مناسب على جميع الأجهزة، بداية من الصفحة الرئيسية إلى صفحة الدفع." %}</li>
                        <li class="my-2"><i data-feather="check-circle" class="fea icon-ex-md text-primary mr-2"></i>{% trans ".امتلك تطبيقات جوال لمتجرك. تطبيق لإدارة المتجر وتطبيق للعملاء و يمكنك رفعه على بلاى ستور." %}</li>
                    </ul>
<!--                        <a href="javascript:void(0)" class="mt-4 text-primary">Find Out More <i class="mdi mdi-chevron-right"></i>-->
                    </a>
                </div>
            </div><!--end col-->
            <!--end col-->
        </div><!--end row-->
    </div><!--end container-->


</section><!--end section-->
<!-- Services End -->
<!-- Price Start -->
<section id="prices" class="section bg-light"><div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3 main-color">{% trans "خطط الاسعار" %}</h4>
                    <p class="text-muted para-desc mx-auto mb-0">{% trans "احصل على متجرك الالكتروني الان" %}</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate border-0 rounded overflow-hidden">
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center">{{ planes.1.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free month</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.1.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">

                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم Paypal" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "دعم طرق شحن (DHL)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %} </span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %} </span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %} </span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>

                        </ul>
                        <a href="{% url 'prices' %}" class="btn btn-primary btn-block mt-4">{% trans "المزيد" %}</a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate best-plan border-0 rounded overflow-hidden">
                    <div class="lable text-center bg-primary pt-2 pb-2">
                        <p class="best small font-weight-bold text-white mb-0 text-uppercase">{% trans "الافضل" %}</p>
                    </div>
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center  text-center">{{ planes.2.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free 7 days</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.2.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">

                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم Paypal - Skrill" %}  </span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;"> {% trans " (DHL) دعم طرق شحن" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" >{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>

                        </ul>
                        <a href="{% url 'prices' %}" class="btn btn-primary btn-block mt-4">{% trans "المزيد" %}</a>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate border-0 rounded overflow-hidden">
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center">{{ planes.3.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free 14 days</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.3.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "طرق دفع عديدة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                             <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم طرق شحن (DHL)" %}  </span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>

                        </ul>
                        <a href="{% url 'prices' %}" class="btn btn-primary btn-block mt-4">{% trans "المزيد" %}</a>
                    </div>
                </div>
            </div><!--end col-->
    </div><!--end container-->
</div>
</section>
<!--end section-->
<!-- Price End -->
<!-- CLient and faq Start -->
<!--<section id="contact-us" class="section">-->
<!--    <div class="container">-->

<!--    </div>-->
<!--</section>-->
<!--end section-->
<!-- Footer Start -->
<!-- Load Facebook SDK for JavaScript -->

{% include "layout/footer.html" %}
{% endblock %}


