{% load i18n %}
<div id="navigation">
    <ul class="navigation-menu nav-light">
        <li>
            <a href="{% url 'home' %}#home" class="mouse-down">الرئيسية</a>
        </li>
        <li>
            <a href="{% url 'home' %}#about" class="mouse-down">من نحن</a>
        </li>

        <li>
            <a href="{% url 'home' %}#offers" class="mouse-down">العروض</a>
        </li>

        <li>
            <a href="{% url 'home' %}#our-features" class="mouse-down">المميزات</a>
        </li>

        <li>
            <a href="{% url 'home' %}#prices" class="mouse-down">الاسعار</a>
        </li>

         <!-- Mobile menu toggle-->
        {% if user.is_authenticated %}
            {% if shop_count > 0 %}
                <li class="mobile-link">
                    <a class="" href="{% url 'profile' %}">
                            ادارة متجرك
                    </a>
                </li>
            {% else %}
                <li class="mobile-link">
                    <a class="" href="{% url 'create_shop' %}">
                           انشئ متجرك الالكتروني
                    </a>
                </li>
        {% endif %}

            <li  class="mobile-link">
               <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="text-dark h6 mr-3 login logout-btn-mobile btn btn-danger">تسجيل خروج</button>
                </form>
            </li>
            {% else %}
            <li class="mobile-link">
                 <a class="navbar-toggle" href="#" data-toggle="modal" data-target="#LoginForm">
                    تسجيل دخول
                 </a>
            </li>
        {% endif %}
        <!-- End mobile menu toggle-->
    </ul>
    <!--end container-->
</div>