{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} 404 {% endblock %}

{% block header %}
    <style>
        #topnav{
            background-color: #5368f1;
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
        <!-- start -->
        <section class="bg-home d-flex align-items-center section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="{% static 'layout/images/404.png' %}" class="img-fluid" alt="404" title="404"><div class="mt-5">
                                <h3>حدث خطأ</h3>
                                <p class="text-muted para-desc mx-auto">الصفحة التي تبحث عنها تم نقلها أو إزالتها أو إعادة تسميتها أو ربما لم تكن موجودة على الإطلاق.</p>

                                <a href="{% url 'home' %}" class="btn btn-soft-primary mt-2">الذهاب الى متجرك</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section--><!-- end --><!-- Start Style switcher -->
        <!-- End Style switcher -->
{% endblock %}