{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
<!--{% load socialaccount %}-->

{% block title %} Payment Success {% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}


{% block header %}
    <style>
        #topnav{
            background-color: #5368f1;
        }
    </style>
{% endblock %}
{% block content %}
<section class="bg-half-260 d-table w-100">
        <div class="icon text-center mb-4">
            <img src="{% static 'layout/images/payment-success.png' %}" alt="">
            <h4>عملية دفع ناجحة</h4>
            <a href="{% url 'home' %}" class="btn btn-info col-md-6" style="font-size:18px">الرئيسية</a>

        </div>
</section>>

{% include "layout/footer.html" %}
{% endblock %}





