{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans "خطط الاسعار" %} {% endblock %}

{% block header %}
    <style>
    #topnav
    {
        background-color: #5368f1;
    }
    .logo
    {
        color: #FFF !important;
    }
    .menu-item .fa-bars
    {
        color: #FFF;
    }
    .nav-sticky .menu-item .fa-bars
    {
        color: #5368f1 !important;
    }
    #topnav .navigation-menu.nav-light > li > a
    {
        color: #fff;
        font-size: 16px;
    }
    #topnav .navigation-menu.nav-light > li:hover > a {
       color: #fff !important;
    }

    </style>
{% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}


{% block content %}
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mt-4 pb-2">
                    <h4 class="title mb-3 main-color">{% trans "خطط الاسعار" %}</h4>
                    <p class="text-muted para-desc mx-auto mb-0">{% trans "احصل على متجرك الالكتروني الان" %}</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate border-0 rounded overflow-hidden">
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center">{{ planes.1.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free month</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.1.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم Paypal" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "دعم طرق شحن (DHL)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تخصيص قالب البريد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "محرر قالب متطور" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خاصية التصدير و الاستيراد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "قائمة مراقبة المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خصائص المنتجات(اللون, الحجم)" %}</span>
                            </li>
                            <li class="text-muted" style="display: none"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحكم فى العلامة التجارية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خدمة العملاء" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تعديل القالب و الشعارات" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "اعدادات المنطقة الجغرافية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "إدارة حملاتك الإعلانية" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تكامل مع أدوات التسويق" %}</span>
                            </li>


                        </ul>

                        {% if user.is_authenticated %}
                        <form class="login-form mt-4" method="POST" action="{% url 'process_payment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="plan_name" value="{{ planes.1.name }}">
                            <button class="btn btn-primary btn-block mt-4" disabled>{% trans "دفع" %}</button>
                        </form>
                        {% else %}
                            <a href="#" class="btn btn-primary btn-block mt-4" data-toggle="modal" data-target="#LoginForm">{% trans "دفع" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate best-plan border-0 rounded overflow-hidden">
                    <div class="lable text-center bg-primary pt-2 pb-2">
                        <p class="best small font-weight-bold text-white mb-0 text-uppercase">الافضل</p>
                    </div>
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center">{{ planes.2.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free 7 days</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.2.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">

                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم Paypal - Skrill" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "دعم طرق شحن (DHL)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" style="text-decoration: line-through;">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold" >{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تخصيص قالب البريد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "محرر قالب متطور" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خاصية التصدير و الاستيراد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "قائمة مراقبة المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خصائص المنتجات(اللون, الحجم)" %}</span>
                            </li>
                            <li class="text-muted" style="display: none"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحكم فى العلامة التجارية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خدمة العملاء" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تعديل القالب و الشعارات" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "اعدادات المنطقة الجغرافية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "إدارة حملاتك الإعلانية" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تكامل مع أدوات التسويق" %}</span>
                            </li>
                        </ul>

                        {% if user.is_authenticated %}
                        <form class="login-form mt-4" method="POST" action="{% url 'process_payment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="plan_name" value="{{ planes.2.name }}">
                            <button class="btn btn-primary btn-block mt-4" disabled>{% trans "دفع" %}</button>
                        </form>
                        {% else %}
                            <a href="#" class="btn btn-primary btn-block mt-4" data-toggle="modal" data-target="#LoginForm">{% trans "دفع" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card pricing hosting-rate border-0 rounded overflow-hidden">
                    <div class="plan-name p-4 border-bottom">
                        <h4 class="title mb-3 text-center">{{ planes.3.name }}</h4>
<!--                        <p class="para text-muted mb-0">We offers a <strong>free 14 days</strong> of service for new customers.</p>-->
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="h6 text-muted mb-0 mt-2">$</span>
                            <span class="price text-primary h1 mb-0">{{ planes.3.price }}</span>
                            <span class="h6 text-muted align-self-end mb-1">{% trans "شهريا/" %}</span>
                        </div>
                        <ul class="feature-list list-unstyled mb-0">
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد غير محدود من المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم لغات وعملات متعددة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "عدد لا محدود من التصنيفات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "طرق دفع عديدة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحويل البنكى" %}</span>
                            </li>
                             <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دفع عند الاستلام" %</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم طرق شحن (DHL)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "إسم نطاق مجاني" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تطبيقات للموبايل" %}</span>
                            </li>
                            <li class="text-muted" style="display:none;"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دعم كامل" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "نسخ احتياطية يومية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "شهادة آمان SSL مجانا (https)" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "احصائيات وتقارير كاملة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "ادارة الخصومات والكوبونات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "دردشة حيه مباشرة مع عملائك" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "فلاتر منتجات متطورة" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تخصيص قالب البريد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "محرر قالب متطور" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خاصية التصدير و الاستيراد" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "قائمة مراقبة المنتجات" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خصائص المنتجات(اللون, الحجم)" %}</span>
                            </li>
                            <li class="text-muted" style="display: none"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "التحكم فى العلامة التجارية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "خدمة العملاء" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تعديل القالب و الشعارات" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "اعدادات المنطقة الجغرافية" %}</span>
                            </li>
                            <li class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "إدارة حملاتك الإعلانية" %}</span>
                            </li>
                            <li style="display none" class="text-muted"><i class="mdi mdi-arrow-left text-primary mr-2">
                                </i><span class="font-weight-bold">{% trans "تكامل مع أدوات التسويق" %}</span>
                            </li>
                        </ul>
                        {% if user.is_authenticated %}
                            <form class="login-form mt-4" method="POST" action="{% url 'process_payment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="plan_name" value="{{ planes.3.name }}">
                                <button class="btn btn-primary btn-block mt-4" disabled>{% trans "دفع" %}</button>
                            </form>
                        {% else %}
                            <a href="#" class="btn btn-primary btn-block mt-4" data-toggle="modal" data-target="#LoginForm">{% trans "دفع" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div><!--end col-->
    </div><!--end container-->
    </div>
</section>

{% include "layout/footer.html" %}
{% endblock %}