{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}

{% block title %} الدفع {% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}


{% block content %}

{% block header %}
    <style>
        #topnav{
            background-color: #5368f1;
        }
    </style>
{% endblock %}
    <div style="margin: 100px 0;text-align: center;">
        <img src="{% static 'layout/images/PayPal.jpg' %}" class="img-fluid" alt="">
        <h4>الدفع بواسط باى بال</h4>
        <div class="mt-5">
                {{ form.render }}
        </div>
    </div>

{% include "layout/footer.html" %}

{% endblock %}


