{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
{% load home_tags %}

{% block header %}
    <style>
        #topnav{
            background-color: #5368f1;
        }
    </style>
{% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}


{% block content %}

        {% if messages %}
            {% for message in messages %}
              <div class="{{ message.tags }} custom-message" data-value="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <!-- Home Start -->
        <section class="bg-half-170 d-table w-100 bg-light" style="" id="home">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="title-heading text-center text-md-left" style="text-align: center!important">
                            <h3 style="margin-bottom: 20px">{{ userModel.first_name }} {{ userModel.last_name }}</h3>
                            <a href="https://{{shop.domain}}.matgrk.shop/{{ admin_panel }}"
                               target="_blank" class="btn btn-danger col-md-6" style="font-size:18px;margin-bottom: 20px"
                            >الذهاب الى لوحة التحكم</a>

                            <a href="https://{{shop.domain}}matgrk.shop" target="_blank" class="btn btn-primary col-md-6" style="font-size:18px">{% trans "تصفح متجرك" %}</a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 1000 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Home End -->

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-12 d-none d-md-block">
                        <div class="rounded-pill shadow p-4 component-wrapper">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-4"><a href="#intro" class="mouse-down h6 text-dark">{% trans "معلومات عن متجرك" %}</a></li>
                                <li class="mb-4"><a href="#info" class="mouse-down h6 text-dark">{% trans "خطة الاشتراك" %}</a></li>
                            </ul>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="section-title" id="intro">
                            <h4><i class="mdi mdi-18px mdi-arrow-left"></i> {% trans "معلومات عن متجرك" %}</h4>
                            <p class="text-muted mt-4">
                                <span class="col-md-3" style="display: inline-block">{% trans "النطاق  ( Domain) :" %}</span>
                                <span style="color:#5368f1">https://{{shop.domain}}.matgrk.shop</span>
                            </p>
                            <p class="text-muted">
                                <span class="col-md-3" style="display: inline-block">{% trans "الاسم :" %}</span>
                                <span style="color:#5368f1">{{userModel.first_name}} {{ userModel.last_name }}</span>
                            </p>
                            <p class="text-muted">
                                <span class="col-md-3" style="display: inline-block">{% trans "البريد الالكتروني :" %}</span>
                                <span style="color:#5368f1">{{userModel.email}}</span>
                            </p>
                        </div>

                        <div class="section-title mt-4 pt-2" id="info">
                            <h4><i class="mdi mdi-18px mdi-arrow-left"></i>{% trans "خطة الاشتراك" %}</h4>
                            <p class="text-muted mt-4">
                                <span class="col-md-3" style="display: inline-block">% trans "خطة الاشتراك :" %}</span>
                                <span style="color:#5368f1">{{ client.plan_id.name }}</span>
                            </p>

                            <p class="text-muted mt-4">
                                <span class="col-md-3" style="display: inline-block">{% trans "تاريخ الاشتراك :" %}</span>
                                <span style="color:#5368f1">{{ client.updated_at|date:"M - d - Y" }}</span>
                            </p>

                            <p class="text-muted mt-4">
                                <span class="col-md-3" style="display: inline-block">{% trans "تاريخ انتهاء الاشتراك :" %}</span>
                                <span style="color:#5368f1">{% calc_end_dates client.updated_at %}</span>
                            </p>

                            <p class="text-muted mt-4">
                                <a href="{% url 'prices' %}" target="_blank" class="btn btn-primary col-md-6" style="font-size:18px">{% trans "تجديد" %}</a>
                            </p>
                        </div>
                    </div>
                    <!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Start -->
{% include "layout/footer.html" %}

       {% endblock %}
