{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} تسجيل مستخدم جديد {% endblock %}

{% block header %}
    <style>
        #topnav{
            background-color: #5368f1;
        }

        #topnav .navigation-menu.nav-light > li > a {
            color: #FFF;
        }
        #topnav .navigation-menu.nav-light > li:hover > a {
            color: #FFF !important;
        }
        .logo
        {
            color: #FFF !important;
        }

    </style>
{% endblock %}

{% block navigation %} {% include 'home/pages_navigation.html' %} {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="{{ message.tags }} custom-message" data-value="{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="container">
    <form method="post" style="margin-top:100px">
      <h2 class="text-center">تسجيل مستخدم جديد</h2>
      {% csrf_token %}
         {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p style="color: #F00;">* {{ error }} </p>
            {% endfor %}
        {% endfor %}

<!--      {% for field in form %}-->
<!--        <p>-->
<!--          {{ field }}-->
<!--          {% if field.help_text %}-->
<!--            <small style="color: grey">{{ field.help_text }}</small>-->
<!--          {% endif %}-->
<!--          {% for error in field.errors %}-->
<!--            <p style="color: red">{{ error }}</p>-->
<!--          {% endfor %}-->
<!--        </p>-->
<!--      {% endfor %}-->

        <div class="form-group">
          <input
                  type="text"
                  name="first_name"
                  placeholder="الاسم الاول"
                  class="form-control"
                  maxlength="50"
                  required="" id="id_first_name"
                  value="{{ old_values.first_name }}"
          />
        </div>
        <div class="form-group">
          <input
                  type="text"
                  name="last_name"
                  placeholder="اسم العائلة"
                  class="form-control"
                  maxlength="50"
                  required=""
                  id="id_last_name"
                  value="{{ old_values.last_name }}"
          />
        </div>
        <div class="form-group">
          <input
                  type="text"
                  name="username"
                  placeholder="أسم المستخدم"
                  class="form-control"
                  maxlength="50"
                  autofocus=""
                  id="id_username"
                  value="{{ old_values.username }}"
          />
            <p style="color: red">{{ error }}</p>
        </div>
        <div class="form-group">
          <input
                  type="email"
                  name="email"
                  placeholder="البريد الالكتروني"
                  class="form-control"
                  maxlength="254"
                  required=""
                  id="id_email"
                  value="{{ old_values.email }}"
          />
            <p style="color: red">{{ error }}</p>
        </div>
        <div class="form-group">
          <input
                  type="password"
                  name="password1"
                  placeholder="الباسورد"
                  class="form-control"
                  maxlength="50"
                  required=""
                  id="id_password1"
          />
            <p style="color: red">{{ error }}</p>
        </div>


        <div class="form-group">
          <input type="password" name="password2" placeholder="تأكيد الباسورد" class="form-control" maxlength="50" required="" id="id_password2">
        </div>
      <button class="btn btn-primary w-100" type="submit">تسجيل</button>
    </form>
</div>
{% endblock %}