{% extends "layout/template.html" %}
{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}

{% block title %} {% trans "انشاء المتجر" %} {% endblock %}

{% block header %}
    <style>
        #topnav{
            display: none
        }
    </style>
{% endblock %}

{% block content %}
<span id="status_url" style="display: none">{% url 'shop_status' %}</span>
<section class="section" style="text-align: center;">
    <div class="container">
        <img src="{% static 'layout/images/matgrak.jpg' %}" alt="" style="width: 100px;">
        <h3 style="color: #6766ff;">{% trans "من فضلك لا تغلق الصفحة" %}</h3>
        <span style="color: #6766ff;font-size: 22px;">{% trans "يرجى الانتظار...يتم انشاء متجرك الالكتروني الان" %}</span><br>
        <span id="domain_name" style="font-size: 23px;font-weight: 600;" data-domain="{{ shop }}">[ {{ shop }} ]</span>
        <img class="wait-img" src="{% static 'layout/images/load_2.gif' %}" alt="{% trans 'برجاء الانتظار' %}">
    </div>
</section>

{% endblock %}

{% block footer %}
  <script>

  NProgress.configure({

      // minimum progress percentage
      minimum: 0.08,

      // easing function
      easing: 'linear',
      positionUsing: '',

      // animation speed
      speed: 1000,

      // turn on/off the automatic incrementing behavior
      trickle: true,
      trickleSpeed: 9000,

      // show loading spinner
      showSpinner: true,

      // progress bar selector
      barSelector: '[role="bar"]',

      // spinner selector
      spinnerSelector: '[role="spinner"]',

      // append the progress bar to this element
      parent: 'body',

      // custom template
      template: '<div class="bar" role="bar"><div class="peg"></div></div><div class="spinner" role="spinner"><div class="spinner-icon"></div></div>'

    });

    NProgress.inc(0.01);

    /*$("#b-0").click(function() { NProgress.start(); });
    $("#b-40").click(function() { NProgress.set(0.4); });
    $("#b-inc").click(function() { NProgress.inc(); });
    $("#b-100").click(function() { NProgress.done(); });*/





    function check_status()
    {

		axios.get($('#status_url').text(), {
	    params: {
	      domain: $('#domain_name').data('domain')
	    }
      })
      .then(function (response) {
        console.log(response.data.status);
        if(  response.data.status == 1)
        {
            NProgress.done();
            window.location.replace("https://matgrk.shop/profile");
            toastr.success(' يمكنك الان تصفح نوقعك و ادارته \n تهانينا لقد قمت بأنشاء متجرك الالكتروني بنجاح');
        }


      })
      .catch(function (error) {
        console.log(error);
      })
      .then(function () {
        // always executed
      });

    }

    setInterval(function(){
      check_status();
    }, 4000);
  </script>
{% endblock %}