<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}
{% load home_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Shop</title>

    <style>
        html,
body {
  height: 100%;
}

body {
  background: #001021;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loader .bar {
  width: 10px;
  height: 5px;
  background: #10c15c;
  margin: 2px;
  animation: bar 1s infinite linear;
}
.loader .bar:nth-child(1) {
  animation-delay: 0s;
}
.loader .bar:nth-child(2) {
  animation-delay: 0.25s;
}
.loader .bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes bar {
  0% {
    transform: scaleY(1) scaleX(0.5);
  }
  50% {
    transform: scaleY(10) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(0.5);
  }
}
    </style>
</head>
<body>

    <h3 style="color:#FFF;position: absolute;margin-bottom: 120px;">Creating {{ domain }} Shop</h3><br>
    <div class="loader">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

<!--{% create_shop_th domain email password country_code timezone %}-->
<!-- <meta http-equiv="REFRESH" content="0;url=http://localhost:8000">-->

</body>
</html>