.custom-message{
    display: none;
    background-color: #17c798;
    color: #FFF;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    width: 68%;
    text-align: center;
    opacity: .8;
    font-weight: 500;
    top: 82px;
    z-index: 99;
}
.error.custom-message{
    background-color: #F00;
}


#id_username
{
    display: none;
}
.menu-extras
{
    display: block
}

.wait-img
{
    height: 250px;z-index: -1;margin-top: -70px;position: fixed;left: 41%;
}

.menu-extras
{
    margin-top: 20px;
    margin-left: 15px;
}

.menu-extras a
{
    font-size: 25px;
}
#topnav .navigation-menu.nav-light > li > a
{
    color: #35404e;
    font-size: 16px;
}
*
{
    letter-spacing: 0 !important;
}
.list-unstyled .text-white-50
{
    color: #FFF !important;
    font-size: 18px;
}
.features-head
{
    margin-bottom: 50px;
}

ul#example {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
  color: #FFF;
}

ul#example li { display: inline-block; }

ul#example li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}

ul#example li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
}

ul#example li p {
  color: #a7abb1;
  font-size: 25px;
}

.back-to-top
{
    background: #5368f1 !important;
    color: #FFF !important;
}
/*
#topnav
{
    background: #FFF !important;
}
#topnav .navigation-menu.nav-light > li > a
{
        color: #35404e !important;
}

#topnav .logo
{
    color: #35404e !important;
}
*/
.logout-btn,
.login-btn
{
    background: none;
    border: none;
    font-size: 18px;
    color: #fff !important;
    font-size: 16px !important;
    margin-top: 9px;
    color: #fff !important;
}
#topnav.nav-sticky .buy-button .login
{
    color: #fff !important;
}
.bg-primary
{
    background-color: #5368f1 !important;
}
header .item {
  height: 100vh;
  position: relative;
}
header .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  /*-webkit-clip-path: polygon(42% 0, 100% 0, 100% 100%, 41% 100%);
  clip-path: polygon(42% 0, 100% 0, 100% 100%, 41% 100%);*/

}
header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  animation-delay: 0.3s;
}
}
header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-prev:focus {
  outline: 0;
}
header .owl-nav .owl-prev:hover {
  background: #000 !important;
}
header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
header .owl-nav .owl-next:focus {
  outline: 0;
}
header .owl-nav .owl-next:hover {
  background: #000 !important;
}
header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
header:hover .owl-next {
  right: 0px;
  opacity: 1;
}
.creation-container
{
    position: absolute;
    bottom: 180px;
    margin: auto;
    display: inline-block;
    left: 20%;
    min-width: 800px;
    z-index: 99;
}
.index-header
{
    position: relative;
}
footer
{
    text-align: center;
}
.mobile-link
{
    display: none !important;
}
.head-features-list li
{
    text-align: right;
    padding: 0;
    color: #5368f1;
    font-size: 16px;
    font-
}

.main-color
{
    color: #5368f1;
}

#about img
{
    margin: auto;
}
#about .card
{
    text-align: center;
    height: 400px;
}
.text-muted
{
    color: #626468 !important;
    font-size: 17px;
}

#topnav .navigation-menu.nav-light > li:hover > a {
   color: #5368f1 !important;
}

#topnav .nav-sticky > li:hover > a {
   color: #5368f1 !important;
}



.hero-img
{
    max-width: 500px;
    object-fit: fill;
}

#topnav .navigation-menu.nav-light > li.active > a
{
    color: #5368f1 !important;
}
#topnav .nav-sticky > li.active > a
{
    color: #5368f1 !important;
}

/* Start Mobile */
@media only screen and (max-width: 700px)
{
    body, html
    {
        font-size: 14px !important;
    }
    .logo
    {
        color: #35404e !important;
    }

    .wait-img
    {
        left: 0%;
    }

    .creation-container
    {
        min-width: 0 !important;
        bottom: 100px !important;
    }

    header .item h2
    {
        display: none;
    }

    header .item h1
    {
        font-size: 18px !important;
    }

    #topnav .navigation-menu.nav-light > li > a
    {
        color: #444 !important;
        font-size: 16px;
    }
    #topnav .navigation-menu.nav-light
    {
        text-align: center;
    }

    ul#example li span
    {
        font-size: 40px;
    }
    #offers h2
    {
        font-size: 25px;
    }
    .py-5
    {
        padding: 0 !important;
    }

    .mobile-link
    {
        display: block !important;
    }
    .mobile-link a
    {
        display: block;
        width: 100% !important;
    }

    .logout-btn-mobile
    {
        color: #F05D27 !important;
        background: #FFF !important;
        border: none !important;
        box-shadow: none;
        margin: 0;
    }

    .logout-btn
    {
        display: none !important;
    }

}

@media only screen and (max-width: 900px)
{
    .hero-img
    {
        max-width: 100%;
    }
    #topnav .navigation-menu.nav-light > li > a
    {
        color: #444 !important;
        font-size: 16px;
    }
    #topnav .navigation-menu.nav-light > li
    {
        text-align: center;
    }
    .logo
    {
        color: #444 !important;
    }
    a.text-dark:hover
    {
        color: #FFF !important;
    }

    .title-heading .heading
    {
       font-size: 28px !important;
       text-align: center !important;
    }
    .hero-section .para-desc
    {
        text-align: center !important;
        font-size: 24px;
    }
    .head-features-list li
    {
    }

    .logo
    {
        max-width: 150px !important;
    }

    #home
    {
        padding: 50px 0 0 0 !important;
    }
    .hero-img
    {
        display: none;
    }
    .hero-section
    {
        margin-right: 0 !important;
    }
}

