<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load staticfiles %}
    {% load i18n %}
    {% load socialaccount %}

    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template">
    <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose">
    <meta content="Oasis" name="author">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'layout/favicons/7168-images-favicon.ico' %}">
    <!-- Bootstrap -->
    <link href="{% static 'layout/css/css-bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <!-- Magnific Popup -->
    <link href="{% static 'layout/css/css-magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'layout/css/css-owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'layout/css/css-owl.theme.default.min.css' %}">
    <!-- Icons -->
    <link href="{% static 'layout/css/css-materialdesignicons.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- Css -->
    <link href="{% static 'layout/css/css-style.css' %}" rel="stylesheet" type="text/css" id="theme-opt">
    <link href="{% static 'layout/css/colors-default.css' %}" rel="stylesheet" id="color-opt">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />


    <script src="{% static 'layout/js/nprogress.js' %}"></script>
    <link href="{% static 'layout/css/nprogress.css' %}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="{% static 'layout/css/style-rtl.css' %}" rel="stylesheet">

    <link href="{% static 'layout/css/style.css' %}" rel="stylesheet">


    {% block header %} {% endblock %}
</head>
<body>

        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="{% url 'home' %}" style="color: #FFF;">
                        Matgrak
                    </a>
                </div>

                <div class="buy-button">
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button style="background: none;border: none;color: #FFF;font-size: 18px;" type="submit" class="text-dark h6 mr-3 login">Logout</button>
                    </form>
                    {% else %}
                            <a href="#" class="text-dark h6 mr-3 login" data-toggle="modal" data-target="#LoginForm" style="font-size:18px">Login</a>
                    {% endif %}

                    <a href="https://1.envato.market/hostick" target="_blank" class="btn btn-primary">Support</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" href="layouts.html">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

<!--                <div id="navigation">-->
                    <!-- Navigation Menu-->
<!--                    <ul class="navigation-menu nav-light"><li class="has-submenu">-->
<!--                            <a href="javascript:void(0)">Home</a><span class="menu-arrow"></span>-->
<!--                            <ul class="submenu"><li><a href="index.html">Home One</a></li>-->
<!--                                <li><a href="index-two.html">Home Two</a></li>-->
<!--                            </ul></li>-->

<!--                        <li class="has-submenu">-->
<!--                            <a href="javascript:void(0)">Hosting</a><span class="menu-arrow"></span>-->
<!--                            <ul class="submenu megamenu"><li>-->
<!--                                    <ul><li><a href="hosting-shared.html"><img src="{% static 'layout/images/icons-shared.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Shared Hosting</a></li>-->
<!--                                        <li><a href="hosting-vps.html"><img src="{% static 'layout/images/icons-vps.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> VPS Hosting</a></li>-->
<!--                                        <li><a href="hosting-dedicated.html"><img src="{% static 'layout/images/icons-dedicated.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Dedicated Server</a></li>-->
<!--                                        <li><a href="hosting-cloud.html"><img src="{% static 'layout/images/icons-cloud.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Cloud Hosting</a></li>-->
<!--                                        <li><a href="hosting-web.html"><img src="{% static 'layout/images/icons-web.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Web Hosting</a></li>-->
<!--                                    </ul></li>-->

<!--                                <li>-->
<!--                                    <ul><li><a href="hosting-reseller.html"><img src="{% static 'layout/images/icons-reseller.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Reseller Hosting</a></li>-->
<!--                                        <li><a href="hosting-domain.html"><img src="{% static 'layout/images/icons-domain.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Domain Name</a></li>-->
<!--                                        <li><a href="hosting-wordpress.html"><img src="{% static 'layout/images/icons-wordpress.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Worpress Server</a></li>-->
<!--                                        <li><a href="hosting-email.html"><img src="{% static 'layout/images/icons-email.svg' %}" class="avatar avatar-ex-sm mr-2" alt=""> Email Server</a></li>-->
<!--                                    </ul></li>-->
<!--                            </ul></li>-->

<!--                        <li class="has-submenu">-->
<!--                            <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>-->
<!--                            <ul class="submenu"><li><a href="page-about.html">Company</a></li>-->
<!--                                <li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span class="submenu-arrow"></span>-->
<!--                                    <ul class="submenu"><li><a href="page-blog.html">Blog</a></li>-->
<!--                                        <li><a href="page-blog-sidebar.html">Blog Sidebar</a></li>-->
<!--                                        <li><a href="page-blog-single.html">Single Blog</a></li>-->
<!--                                    </ul></li>-->
<!--                                <li><a href="page-faqs.html">FAQs</a></li>-->
<!--                                <li><a href="page-support.html">Support Center</a></li>-->
<!--                                <li><a href="page-privacy.html">Privacy Policy</a></li>-->
<!--                                <li><a href="page-terms.html">Terms &amp; Conditions</a></li>-->
<!--                                <li class="has-submenu"><a href="javascript:void(0)"> Auth Pages</a><span class="submenu-arrow"></span>-->
<!--                                    <ul class="submenu"><li><a href="page-login.html">Login</a></li>-->
<!--                                        <li><a href="page-signup.html">Signup</a></li>-->
<!--                                        <li><a href="page-forgot-password.html">Forgot Password</a></li>-->
<!--                                    </ul></li>-->
<!--                                <li><a href="page-404.html">404</a></li>-->
<!--                            </ul></li>-->

<!--                        <li><a href="contact.html">Contact</a></li>-->
<!--                    </ul>-->
                    <!--end navigation menu-->
<!--                </div>-->
                <!--end navigation-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
        <!-- Navbar End -->
        <!-- Home Start -->

        {% block content %}

        {% endblock %}

        <!-- CLient and faq End -->
        <!-- Footer Start -->


        <!-- javascript -->
        <script src="{% static 'layout/js/2652-js-jquery.min.js' %}"></script>
        <script src="{% static 'layout/js/3965-js-bootstrap.bundle.min.js' %}">

        </script><script src="{% static 'layout/js/8338-js-jquery.easing.min.js' %}">

        </script><script src="{% static 'layout/js/8891-js-scrollspy.min.js' %}"></script>
        <!-- Magnific Popup -->
        <script src="{% static 'layout/js/5757-js-jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'layout/js/7722-js-magnific.init.js' %}"></script>
        <!-- SLIDER -->
        <script src="{% static 'layout/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'layout/js/owl.init.js' %}"></script>
        <!-- Icons -->
        <script src="{% static 'layout/js/9361-js-feather.min.js' %}"></script>
        <!-- switcher -->
        <script src="{% static 'layout/js/switcher.js' %}"></script>
        <!-- Main Js -->
        <script src="{% static 'layout/js/1329-js-app.js' %}"></script>


        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <!-- My Scipt -->
        <script src="{% static 'layout/js/plugin.js' %}"></script>

        {% block footer %} {% endblock %}
    </body>
</html>
