<footer class="footer bg-footer">
    <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-md-center">
                            <h4 class="text-light mb-0">تواصل معنا</h4>
                            <p style="background: #fff;height: 3px;width: 220px;margin: 8px auto;"></p>
                        </div>
                    </div><!--end col-->
                </div>
    <!--end row-->
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-6 mt-4 pt-2">
                        <div class="text-md-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md text-light"></i>
                            </div>
                            <div class="content mt-2">
                                <h5 class="title text-light">البريد الالكتروني</h5>
                                <a href="mailto:app.dev.mail1@gmail.com" class="text-foot">app.dev.mail1@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-md-6 mt-4 pt-2">
                        <div class="text-md-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md text-light"></i>
                            </div>
                            <div class="content mt-2">
                                <h5 class="title text-light">الموبايل</h5>
                                <a href="tel:+152534-468-854" class="text-foot">01553990162</a>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

<!--                    <div class="col-md-4 mt-4 pt-2">-->
<!--                        <div class="text-md-center">-->
<!--                            <div class="icon">-->
<!--                                <i data-feather="map-pin" class="fea icon-md text-light"></i>-->
<!--                            </div>-->
<!--                            <div class="content mt-2">-->
<!--                                <h5 class="title text-light">Location</h5>-->
<!--                                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" class="video-play-icon text-foot">View on Google map</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash;end col&ndash;&gt;-->
                </div><!--end row-->
            </div>

<!--            <div class="container mt-5">-->
<!--                <div class="footer-bar">-->
<!--                    <div class="row mt-5">-->
<!--                        <div class="col-lg-4 col-md-12">-->
<!--                            <a class="logo-footer h4 mouse-down text-light" href="#home">-->
<!--                                Matgrak</a>-->
<!--                            <p class="mt-4 text-foot">There is now an abundance of <br> readable dummy texts. These are is required purely to fill a space.</p>-->
<!--                            <ul class="list-unstyled social-icon social mb-0 mt-4"><li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>-->
<!--                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>-->
<!--                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>-->
<!--                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>-->
<!--                            </ul>&lt;!&ndash;end icon&ndash;&gt;</div>-->

<!--                        <div class="col-lg-8">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">-->
<!--                                    <h5 class="text-light footer-head font-weight-normal mb-0">Hosting</h5>-->
<!--                                    <ul class="list-unstyled footer-list mt-4"><li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Shared Hosting</a></li>-->
<!--                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>VPS Hosting</a></li>-->
<!--                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Dedicated Hosting</a></li>-->
<!--                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Cloud Hosting</a></li>-->
<!--                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Reseller Hosting</a></li>-->
<!--                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Domain Name</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->

<!--&lt;!&ndash;                                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="text-light footer-head font-weight-normal mb-0">About</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <ul class="list-unstyled footer-list mt-4"><li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>About us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Contact us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Terms &amp; Services</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Privacy Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                <div class="col-lg-6 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h5 class="text-light footer-head font-weight-normal mb-0">Newsletter</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <p class="mt-4 text-foot">Sign up and receive the latest tips via email.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <form>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="foot-subscribe form-group position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <label class="text-foot">البريد الالكتروني <span class="text-danger">*</span></label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <input type="text" name="username" id="username" class="form-control rounded" placeholder="البريد الالكتروني : " required></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary btn-block" value="Subscribe"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </form>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--                </div>-->
            </div>
        </footer>
<!--end footer-->
<footer class="footer footer-line bg-footer">
    <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6 col-md-12">
                        <div class="text-sm-left">
                            <p class="mb-0 text-foot text-center">&copy;  جميع الحقوق محفوظة لشركة   <i class="mdi mdi-heart text-danger"></i> <a href="http://matgrk.shop/" target="_blank" class="text-reset">Matgrk</a></p>
                        </div>
                    </div><!--end col-->

<!--                    <div class="col-sm-6 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">-->
<!--                        <ul class="list-unstyled terms-service text-sm-right mb-0"><li class="list-inline-item mb-0"><a href="page-privacy.html" class="text-foot mr-2">Privacy</a></li>-->
<!--                            <li class="list-inline-item mb-0"><a href="page-terms.html" class="text-foot mr-2">Terms</a></li>-->
<!--                            <li class="list-inline-item mb-0"><a href="page-faqs.html" class="text-foot mr-2">FAQs</a></li>-->
<!--                            <li class="list-inline-item mb-0"><a href="contact.html" class="text-foot">Contact</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!--end col-->
                </div>
    <!--end row-->
            </div>
    <!--end container-->
        </footer>
        <!--end footer-->
<!-- Footer End -->
        <!-- Login Modal Content Start -->
        <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content rounded shadow border-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">تسجيل دخول </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form class="login-form" method="POST" action="{% url 'create_auth' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group position-relative">
                                        <label>البريد الالكتروني <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" name="email" required="" placeholder="البريد الالكتروني :"></div>
                                </div><!--end col-->

                                <div class="col-12">
                                    <div class="form-group position-relative">
                                        <label>الباسورد <span class="text-danger">*</span></label>
                                        <input type="password" name="password" class="form-control" required="" placeholder="الباسورد :"></div>
                                </div>
                                <!--end col-->

<!--                                <div class="col-12">-->
<!--                                    <div class="d-flex justify-content-between">-->
<!--                                        <div class="form-group d-inline-block">-->
<!--                                            <div class="custom-control custom-checkbox">-->
<!--                                                <input type="checkbox" class="custom-control-input" id="customCheck1"><label class="custom-control-label" for="customCheck1">Remember me</label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <p class="forgot-pass mb-0"><a href="page-forgot-password.html" class="text-dark font-weight-bold">Forgot password ?</a></p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash;end col&ndash;&gt;-->
                                <div class="col-12 mb-0">
                                    <button class="btn btn-success w-100">تسجيل دخول</button>
                                </div>
                                <div class="col-12 mb-0" style="margin-top: 20px">
                                    <a href="{% url 'signup' %}" class="btn btn-primary w-100">تسجيل مستخدم جديد</a>
                                </div>
                                <!--end col-->
<!--                                <div class="col-12 mt-4 text-center">-->
<!--                                    <h6 class="mb-0">أو تسجيل الدخول باستخدام</h6>-->
<!--                                </div>-->

<!--                                <div class="col-12">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-sm-6 mt-4">-->
<!--                                            <a href="#" class="btn btn-block btn-light bg-facebook"><i class="mdi mdi-facebook"></i> Facebook</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-sm-6 mt-4">-->
<!--                                            <a href="/accounts/google/login"-->
<!--                                            class="btn btn-block btn-light">-->
<!--                                            <i class="mdi mdi-google"></i> Google</a>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12 text-center">-->
<!--                                    <p class="mb-0 mt-3"><small class="text-dark mr-2">Don't have an account ?</small> <a href="page-signup.html" class="text-dark font-weight-bold">Sign Up</a></p>-->
<!--                                </div>&lt;!&ndash;end col&ndash;&gt;-->
                            </div><!--end row-->
                        </form><!--end form-->

<!--                        <div class="col-sm-12 mt-4">-->
<!--                            <a href="/accounts/google/login"-->
<!--                            class="btn btn-block btn-light"-->
<!--                            style="background: #C71610 !important;color: #FFF !important;font-size: 18px;">-->
<!--                            <i class="mdi mdi-google"></i> Google</a>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
        <!-- Login Modal Content End -->

        <!-- Logout Modal Content Start -->
        <div class="modal fade" id="LogoutForm" tabindex="-1" role="dialog" aria-labelledby="LogoutModal" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content rounded shadow border-0">
                    <div class="modal-header">
<!--                        <h5 class="modal-title" id="LogoutModal">تسجيل دخول </h5>-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="col-12" style="margin-bottom: 20px">
                            <a href="{% url 'profile' %}"class="btn btn-primary w-100">ادارة متجرك</a>
                        </div>
                        <div class="col-12 mb-0">
                            <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;" class="w-100">
                              {% csrf_token %}
                              {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                              {% endif %}
                                <button class="btn btn-danger w-100" type="submit">تسجيل خروج</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Logout Modal Content End -->

        <!-- Signup Modal Content Start -->
<!--        <div class="modal fade" id="SignupForm" tabindex="-1" role="dialog" aria-labelledby="SignupModal" aria-hidden="true">-->
<!--            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">-->
<!--                <div class="modal-content rounded shadow border-0">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="SignupModal">تسجيل مستخدم جديد </h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->

<!--                    <div class="modal-body">-->
<!--                         <form method="POST" action="{% url 'signup' %}">-->
<!--                             {% csrf_token %}-->
<!--                              <p>-->
<!--                                <label for="id_first_name"></label><br>-->
<!--                                <input type="text" name="first_name" placeholder="firstname" class="form-control" maxlength="30" minlength="5" required="" id="id_first_name">-->
<!--                              </p>-->

<!--                              <p>-->
<!--                                <label for="id_last_name"></label><br>-->
<!--                                <input type="text" name="last_name" placeholder="lastname" class="form-control" maxlength="30" minlength="5" required="" id="id_last_name">-->
<!--                              </p>-->


<!--                              <p>-->
<!--                                <label for="id_username"></label><br>-->
<!--                                <input type="text" name="username" placeholder="Username" class="form-control" maxlength="30" minlength="5" autofocus="" required="" id="id_username">-->
<!--                              </p>-->


<!--                              <p>-->
<!--                                <label for="id_email"></label><br>-->
<!--                                <input type="email" name="email" placeholder="Email" class="form-control" maxlength="254" required="" id="id_email">-->
<!--                              </p>-->

<!--                              <p>-->
<!--                                <label for="id_password1"></label><br>-->
<!--                                <input type="password" name="password1" placeholder="Password" class="form-control" maxlength="30" minlength="8" required="" id="id_password1">-->
<!--                              </p>-->

<!--                              <p>-->
<!--                                <label for="id_password2"></label><br>-->
<!--                                <input type="password" name="password2" placeholder="Confirm Password" class="form-control" maxlength="30" minlength="8" required="" id="id_password2">-->
<!--                              </p>-->

<!--                            <button class="btn btn-primary w-100" type="submit">تأكيد</button>-->

<!--                          </form>-->
<!--                        &lt;!&ndash;end form&ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Signup Modal Content End -->

        <!-- Start Style switcher -->
        <div id="style-switcher" style="left: 0px;" class="bg-light border p-3 pt-2 pb-2">
            <!-- <h3 class="title text-center">Select Your Color</h3> -->
            <ul class="pattern text-center mb-0"><li class="list-inline-item">
                    <a class="default" href="#"></a>
                </li>
                <li class="list-inline-item">
                    <a class="purple" href="#"></a>
                </li>
                <li class="list-inline-item">
                    <a class="green" href="#"></a>
                </li>
                <li class="list-inline-item">
                    <a class="blue" href="#"></a>
                </li>
                <li class="list-inline-item">
                    <a class="pink" href="#"></a>
                </li>
                <li class="list-inline-item">
                    <a class="violet" href="#"></a>
                </li>
            </ul><div class="text-center">
                <a href="#" class="btn btn-sm btn-block btn-primary rtl-version t-rtl-light mt-2">RTL</a>
                <a href="#" class="btn btn-sm btn-block btn-primary ltr-version t-ltr-light mt-2">LTR</a>
            </div>
            <div class="bottom">
                <a href="#" class="settings bg-white shadow d-block"><i class="mdi mdi-settings mdi-24px position-absolute mdi-spin text-primary"></i></a>
            </div>
        </div>
        <!-- End Style switcher -->

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ar_AR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="103447381615212"
  theme_color="#5368F1"
  logged_in_greeting="مرحبا بك فى متجرك"
  logged_out_greeting="مرحبا بك فى متجرك">
      </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-187374507-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-187374507-1');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '861672811071089');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=861672811071089&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->