<!DOCTYPE html>
<html lang="ar">
<head>
    {% load static %}
    {% load staticfiles %}
    {% load i18n %}
    {% load socialaccount %}

    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} | {% trans "انشئ متجرك إلكتروني في دقائق" %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="-متجرك -متجر -متجر_الكترونى -متاجر #بيع_اونلاين -بيع_على_النت #بيع_منتجاتك -تسويق">
    <meta content="Matgrk" name="author">

    <!-- This site is optimized with the Yoast SEO Premium plugin v11.8 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="{% trans 'قم ببناء متجر إلكتروني خاص بك في دقائق دون الحاجة إلى أي مساعدة فنية ، واستمتع بتجربة مجانية لمدة 90 يومًا. ابدأ الآن!' %}"/>
    <link rel="canonical" href="https://matgrk.shop" />
    <meta property="og:locale" content="ar_AR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% trans 'قم ببناء متجر الكتروني احترافي في دقائق - متجرك' %}" />
    <meta property="og:description" content="{% trans 'قم ببناء متجر إلكتروني ناجح في دقائق دون الحاجة إلى أي مساعدة فنية ، واستمتع بتجربة مجانية لمدة 90 يومًا. ابدأ الآن!' %}" />
    <meta property="og:url" content="https://matgrk.shop" />
    <meta property="og:site_name" content="Matgrk" />

    <script type='application/ld+json' class=''>{
	"@context": "https://schema.org",
	"@graph": [{
			"@type": "Organization",
			"@id": "https://matgrk.shop/#about",
			"name": "Matgrk",
			"url": "https://matgrk.shop/",
			"sameAs": ["https://www.facebook.com/matgrk.shop"]
		},
		{
			"@type": "WebSite",
			"@id": "https://matgrk.shop",
			"url": "https://matgrk.shop/",
			"name": "Matgrk",
			"publisher": {
				"@id": "https://matgrk.shop/#about"
			},
			"potentialAction": {
				"@type": "SearchAction",
				"target": "https://matgrk.shop/",
				"query-input": "required name=search_term_string"
			}
		},
		{
			"@type": "WebPage",
			"@id": "https://matgrk.shop/",
			"url": "https://matgrk.shop/",
			"inLanguage": "ar",
			"name": "قم ببناء متجر الكتروني احترافي في دقائق - متجرك",
			"isPartOf": {
				"@id": "https://matgrk.shop/"
			},
			"about": {
				"@id": "https://matgrk.shop/about"
			},
			"datePublished": "2021-01-01T07:51:11+00:00",
			"dateModified": "2021-01-20T23:58:25+00:00",
			"description": "قم ببناء متجر إلكتروني ناجح في دقائق دون الحاجة إلى أي مساعدة فنية ، واستمتع بتجربة مجانية لمدة 90 يومًا. ابدأ الآن!"
		}
	]
}</script>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'layout/favicons/matgrak.ico' %}">
    <!-- Bootstrap -->
    <link href="{% static 'layout/css/css-bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <!-- Magnific Popup -->
    <link href="{% static 'layout/css/css-magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <!-- Slider -->
    <link rel="stylesheet" href="{% static 'layout/css/css-owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'layout/css/css-owl.theme.default.min.css' %}">
    <!-- Icons -->
    <link href="{% static 'layout/css/css-materialdesignicons.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- Css -->
    <link href="{% static 'layout/css/css-style.css' %}" rel="stylesheet" type="text/css" id="theme-opt">
    <link href="{% static 'layout/css/colors-default.css' %}" rel="stylesheet" id="color-opt">

    <!-- Countdown -->
    <link href="{% static 'layout/css/jquery.countdown.css' %}" rel="stylesheet" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
<!--    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'>-->

    <script src="{% static 'layout/js/nprogress.js' %}"></script>
    <link href="{% static 'layout/css/nprogress.css' %}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="{% static 'layout/css/style-rtl.css' %}" rel="stylesheet">

    <link href="{% static 'layout/css/style.css' %}" rel="stylesheet">


    {% block header %} {% endblock %}
</head>
<body>
        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="{% url 'home' %}" style="color: #35404e;">

<!--                        <img src="{% static 'layout/images/matgrak_logo.png' %}" style="max-width: 180px">-->
                        Matgrk
                    </a>
                </div>

                <div class="buy-button">

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'account_logout' %}" style="display: inline-block;">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="text-dark h6 mr-3 login logout-btn btn btn-danger">{% trans "تسجيل خروج" %}</button>
                    </form>
                    {% else %}
                        <a href="#" class="text-dark h6 mr-3 login btn btn-success login-btn" data-toggle="modal" data-target="#LoginForm" style="font-size:18px">{% trans "تسجيل دخول" %}</a>
                {% endif %}

                    <a href="https://demo.matgrk.shop" target="_blank" class="btn btn-info">{% trans "مثال تجريبي" %}</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <a class="navbar-toggle" href="#">
                                    <i class="fas fa-bars"></i>
                            </a>
                    </div>
                </div>
                {% block navigation %} {% endblock %}
                <!--end navigation-->
            </div>
            <!--end container-->
        </header>
        <!-- end header-->
        <!-- Navbar End -->
        <!-- Home Start -->

        {% block content %}

        {% endblock %}

        <!-- CLient and faq End -->
        <!-- Footer Start -->


        <!-- javascript -->
        <script src="{% static 'layout/js/2652-js-jquery.min.js' %}"></script>
        <script src="{% static 'layout/js/3965-js-bootstrap.bundle.min.js' %}">

        </script><script src="{% static 'layout/js/8338-js-jquery.easing.min.js' %}">

        </script><script src="{% static 'layout/js/8891-js-scrollspy.min.js' %}"></script>
        <!-- Magnific Popup -->
        <script src="{% static 'layout/js/5757-js-jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'layout/js/7722-js-magnific.init.js' %}"></script>
        <!-- SLIDER -->
        <script src="{% static 'layout/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'layout/js/owl.init.js' %}"></script>
        <!-- Icons -->
        <script src="{% static 'layout/js/9361-js-feather.min.js' %}"></script>
        <!-- switcher -->
        <script src="{% static 'layout/js/switcher.js' %}"></script>
        <!-- Main Js -->
        <script src="{% static 'layout/js/1329-js-app.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <!-- Countdown -->
        <script src="{% static 'layout/js/jquery.countdown.js' %}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <!-- My Script -->
        <script src="{% static 'layout/js/plugin.js' %}"></script>

        {% block footer %} {% endblock %}
    </body>
</html>
